astroid
avro
awscli
boto3
botocore
colorama
docutils
fastavro
flake8
fsspec
isort
jmespath
lab
lazy-object-proxy
llvmlite
mccabe
numba
pandavro
py4j
pyarrow
pyasn1
pycodestyle
pyflakes
Pygments
pylint
pyspark
PyYAML
pyzm
rsa
s3fs
s3transfer
simplejson
six
thrift
typed-ast
urllib3
webencodings
zipp
widgetsnbextension
wrapt
